.Home {
  width: 100vw;
}

.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-cards {
  display: flex;
  justify-content: center;
  align-content: center;
  /* padding: 0 80px; */
  margin: 0 auto;
  width: 80%;
}

.Home-cards-card {
  width: 30%;
  padding: 20px;
}
